* 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --aqua-color: #95e1d3;
    --grey-color: #999999;
    --pink-color: #f38181;
    --font-roboto: 'Roboto', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-kaushan: 'Kaushan Script', cursive;
}
html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 1200px;
    display: block;
    margin: 0 auto;
}

/* HEADER */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.logo {
    font-family: var(--font-montserrat);
    font-size: 30px;
    font-weight: 700;
    color: var(--aqua-color);
    transition: color 0.2s linear;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    min-width: 490px;
}

.nav-link{
    color: var(--aqua-color);
    font-family: var(--font-montserrat);
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s linear;
}
.nav-link:hover,
.logo:hover,
.nav-link:focus{
    color: var(--pink-color);
}
.nav-link:hover::after,
.nav-link:focus::after{
display: block;
content: '';
position: absolute;
background-color: var(--pink-color);
width: 100%;
height: 4px;
margin-top: 12px;
}
/* SECTION SERVICES */
.services{
    padding-top: 70px;
    padding-bottom: 90px;
}
.section-subtitle{
    font-family: var(--font-kaushan);
    font-size: 24px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    color: #333333
}
.section-title{
    font-family: var(--font-montserrat);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}
.section-title::after{
    display: block;
    content: "";
    height: 4px;
    width: 60px;
    background-color: var(--pink-color);
    margin: 36px auto 40px auto;
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 34px;
}
.services-list-item{
    width: 392px;
    padding-left: 32px;
    position: relative;
    margin-bottom: 90px;
}
.services-list-item:nth-child(n+3){
    margin-bottom: 0;
}
.services-list-item-title{
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-left: 60px;
}
.services-list-item-text{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding-left: 60px;
    color: var(--grey-color);
    line-height: 24px;
}
.services-list-item:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.services-list-item:first-child::before{
    background-image: url(../img/icons/ALARM-1.png);
}
.services-list-item:nth-child(2)::before{
    background-image: url(../img/icons/LINE-GRAPH-2.png);
}
.services-list-item:nth-child(3)::before{
    background-image: url(../img/icons/COMPUTER-OK-3.png);
}
.services-list-item:nth-child(4)::before{
    background-image: url(../img/icons/BOOK-2-4.png);
}
.services-list-item:nth-child(5)::before{
    background-image: url(../img/icons/HOME-5.png);
}
.services-list-item:last-child::before{
    background-image: url(../img/icons/IMAGE-6.png);
}
/* SECTION TEAM */
.section-team{
    padding-bottom: 80px;
}
.team-text{
    display: block;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-family: var(--font-roboto);
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 90px;
    line-height: 24px; 
}


  .footer {
    border-top: 1px #e5e5e5 solid;
    display: flex;
    justify-content: space-between;
    min-height: 62px;
    align-items: center;
  }
  
  .copyright {
    color: #333333;
    font-family: var(--font-montserrat);
    font-size: 14px;
  }
  
  .copyright-link {
    color: var(--pink-color);
    text-decoration: none;
  }
  
  .email-form {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  
  .email {
    border: 1px #e5e5e5 solid;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 40px;
    color: #cccccc;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
  }
  
  .submit {
    margin: 0;
    padding: 0;
    border: none;
    width: 150px;
    height: 40px;
    background-color: var(--aqua-color);
    color: #fff;
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
  }

