* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --grey: #333333;
    --pink: #ff4e50;
    --white: #ffffff;
    --color-light-grey: #666666;
  --color-dark-grey: #333333;
  --color-white: #ffffff;
  --color-red: #ff4e50;
    --font-robotol: 'Robotol', sans-serif; font-weight: 300;
    --font-montserratb: 'Montserratb', sans-serif; font-weight: 700;
  }
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserratb'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Robotol';
    font-style: normal;
    font-weight: 300;
    src: local('Robotol'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}
.container{
    width: 320px;
    display: block;
    margin: 0 auto;
}

.header{
    
    background-position: top center;
    background-image: url('../img/head-bg-mobile.jpg');
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 130px;
}


/* .nav-item{
    display: inline-block;
    border: solid 2px var(--white) ;
    width: 90px;
    
    margin: 0 auto;
} */
.nav-list{
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}
.nav-link{
    font-family: var(--font-montserratb);
    color: var(--white);
    font-size: 14px;
    width: 94px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.log-in{
  border: var(--white) 2px solid;
  border-radius: 40px 40px 40px 40px;
}
.log-in:hover,
.log-in:focus{
  border: none;
}
.sign-in{border: var(--white) 2px solid;
  border-radius: 40px 40px 40px 40px;
}
.sign-in:hover,
.sign-in:focus{
  border: none;
}


.logo{
    font-family: var(--font-montserratb);
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
    display: block;
    text-align: center;
    margin-top: 115px;    
}
.logo:hover{
  color: var(--color-red);
}

.header-title{
    font-family: var(--font-montserratb);
    color: var(--white);
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    
}
    .header-subtitle{
        font-family: var(--font-robotol);
        color: var(--white);
        opacity: .9;
        font-size: 18px;
        text-transform: initial;
    }

    .find-btn{
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 40px;
        font-size: 14px;
        line-height: 24px;
        border: 1px solid var(--pink);
        background-color: var(--pink);
        border-radius: 25px;
        font-family: var(--font-montserratb);
        color: #ffffff;
        cursor: pointer;
        
    }


    .section-partner {
        padding-top: 70px;
        padding-bottom: 57px;
      }
      
      .section-partner-title {
        font-family: var(--font-montserratb);
        font-weight: 700;
        font-size: 22px;
        color: var(--color-dark-grey);
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
      }
      
      .partner-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .partner-item {
        display: block;
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;
      }
      
      .partner-photo {
        width: 121px;
        height: 121px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        position: relative;
        margin-bottom: 20px;
      }
      
      .partner-photo-first {
        background-image: url(../img/mustash-pic.png);
      }
      
      .partner-photo-second {
        background-image: url(../img/second-dark-pic.png);
      }
      
      .partner-photo-third {
        background-image: url(../img/grey-smile.png);
      }
      
      .partner-photo-fourth {
        background-image: url(../img/man-smile.png);
      }
      
      .partner-photo::after {
        display: block;
        content: "";
        position: absolute;
        width: 41px;
        height: 41px;
        background-position: center;
        background-repeat: no-repeat;
        border: var(--color-white) 4px solid;
        border-radius: 50%;
        right: 0;
        bottom: 0;
      }
      
      .partner-photo-first::after {
        background-color: var(--color-red);
        background-image: url(../img/icons/tv-icon.png);
      }
      
      .partner-photo-second::after {
        background-image: url(../img/icons/tv-icon.png);
        background-color: #ffa507;
      }
      
      .partner-photo-third::after {
        background-image: url(../img/icons/alchemist-icon-2.png);
        background-color: #1cd7ad;
      }
      
      .partner-photo-fourth::after {
        background-image: url(../img/icons/telegram-icon-4.png);
        background-color: #4e73db;
      }
      
      .partner-name {
        display: block;
        margin: 0 auto;
        font-family: var(--font-montserratb);
        font-weight: 700;
        font-size: 14px;
        color: var(--color-dark-grey);
        text-align: center;
        margin-bottom: 15px;
      }
      
      .partner-status {
        display: block;
        margin: 0 auto;
        font-family: var(--font-robotol);
        font-weight: 300;
        font-size: 14px;
        color: var(--color-light-grey);
        text-align: center;
      }
      
      .partner-btn {
        display: block;
        width: 284px;
        font-family: var(--font-montserratb);
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        color: var(--color-red);
        background-color: var(--color-white);
        text-align: center;
        line-height: 44px;
        border: var(--color-red) 2px solid;
        border-radius: 40px 40px 40px 40px;
        margin: 0 auto;
      }
      
      .partner-btn:hover,
      .partner-btn:focus {
        color: var(--color-white);
        background-color: var(--color-red);
        border: var(--color-red) 2px solid;
      }

      /* SCREEN FOR TAB */
    @media screen and (min-width: 768px){
      .container{
        width: 768px;
        margin: 0 auto;
      }
      
      .header{
        background-image: url(../img/head-bg-tab.jpg);
        padding-bottom: 230px;
      }
      .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 670px;
        margin: 0 auto;
        margin-bottom: 156px;
      }
      .logo{
        margin: 0;
      }
      .nav-list{
        margin: 0;
      }
      .header-title{
        font-size: 52px;
        line-height: 60px;
      }
      .find-btn{
        width: 220px;
      }
      .partner-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .partner-item{
        width: 266px;
        margin-bottom: 40px;
        
      }
      .partner-btn{
        width: 190px;
      }
    }

    @media screen and (min-width: 940px){
    .container{
      width: 940px;
    }
    .navigation{
      width: 100%;
      display: flex;
    }
    .partner-item{
      width: 220px;
    }
    }