*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing:border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow:hidden;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    
}
ul,
ol{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
}
/* HEADER NAVIGATION */
header{
    padding-top: 38px;
    padding-bottom: 32px;
}
.logo{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.logo{
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.60px ;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
}
.logo:hover{
    color: #1abc9c;
}
.logo::first-letter{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1abc9c;
}
.site-navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 494px;
    float: right;
    
    }
    .site-navigation li{
        float: left;
    }
    .site-navigation li:not(:last-child){
        margin-right: 36px;
    }
    .site-navigation li:last-child{
        float: right;
    }
.site-navigation a{
    color: #0f0101;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    font-size: 14px;
    letter-spacing: -0.28px;
    display: block;
    
}
.site-navigation a:hover{
    color: #1abc9c;
}
/* SLIDER */
.slider {
    background-image: url(../img/background-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .slider-wrapper {
    position: relative;
    width: 1110px;
    height: 600px;
    margin: 0 auto;
  }
  .slider-control {
    position: absolute;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slider-control:hover {
    background-color: rgba(78, 198, 171, 0.65);
  }
  .prev {
    left: 0;
    background-image: url(../img/icons/arrow-prev.png);
  }
  .next {
    right: 0;
    background-image: url(../img/icons/arrow-next.png);
  }
  .slider-carousel {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);
  }
  .slider-title {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: -1.2px;
    margin-bottom: 36px;
  }
  .slider-text {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: -1.2px;
  }
/* PRODUCT SECTION */
.products{
    background-color: #e9f0fd;
    padding-bottom: 100px;
}
.product-title{
    font-size: 0;
    margin: 0;
   padding-top: 100px;
}
.product-title{
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
    letter-spacing: -0.96px;
    margin-bottom: 94px;
}
.product-title::after{
    display: block;
    content: '';
    height: 8px;
    width: 160px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}
.product-list{
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-list-item{
    position: relative;
    float: left;
    width: 254px;
    margin-right: 30px;
}
.card-bottom{
    position: absolute;
    bottom: 0px;
    width: 254px;
    height: 40px;
    background-color: black;
}
.product-list-item:nth-child(4n){
    margin-right: 0;
}
.product-list-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: -0.360px;
    float: left;  
}
.product-list-item:last-child{
    float: right;
}
.product-list-item:hover .text{
    background-color: #1abc9c;
}
.product-list-item:hover .price{
    background-color: #7fd9c7;
}
.text {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    text-transform: uppercase;
    float: left;
}
.text-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: -0.360px;
    color: #fff;
}
.price{
    display: block;
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    color: #ffffff;
    margin: 0;
    text-align: center;
    text-transform: uppercase; 
    float: right;
}
/* Hidden-PART!!! */
.overlay:hover{
    opacity: 1;
}
.overlay{
    position: absolute;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  opacity: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(115, 115, 115, 0.5);
  background-clip: padding-box;
       }
.card-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-list-item{
    float: left;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    height: 48px;
}
.card-list-item:hover,
.card-list-item:last-child:hover{
    background-color: rgb(26, 188, 156);
}
.card-list-item:not(:last-child){
    width: 48px;
}
.card-list-item:nth-child(-n+2){
    margin-right: 8px;
    margin-bottom: 8px;
}
.card-list-item:last-child{
    width: 164px;
    background-color: #323232;
}
.card-list-item:first-child{
    background-image: url(../img/icons/heart.png);
    background-repeat: no-repeat;
    background-position: center;
}
.card-list-item:nth-child(2){
    background-image: url(../img/icons/arrows.png);
    background-repeat: no-repeat;
    background-position: center;
}
.card-list-item:nth-child(3){
    background-image: url(../img/icons/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}
.card-list-item:last-child{
    position: relative;
    background-image: url(../img/icons/bascket.png);
    background-repeat: no-repeat;
    background-position: center left 8%;
}
.cart {
    position: absolute;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
  }

/* FOOTER */
.footer {
    height: 88px;
    line-height: 88px;
    background-color: #323232;
    text-align: center;
 }
 .footer-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
 }
 .author-name-link{
     color: #46bfa9;
 }
 .author-name-link:hover{
     color: #7fd9c7;
 }