html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    line-height: 24px;
    font-weight: 400;
}
.container{
    width: 900px;
    margin: 0 auto
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin: 0;
    margin-bottom: 16px;   
}
.tittle{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px ;
    margin-bottom: 30px ;
}
.main-menu a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none; 
      color: #626262;
}
.header{
    margin: 0;
    padding: 0;
    padding-top: 74px;
    padding-bottom: 100px;
}
.main-menu{
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 900px;
    text-align: center;
  
    
}
.main-menu li:not(:last-child) {
    margin-right: 96px;
}
.main-menu li {
    display: inline-block;      
}
.main-menu-item{
    font-size: 14px;
    line-height: 24px;
}
.main-menu a:hover,
.main-menu a:focus {
   color: #03a9f4; 
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 26px;
    
}
section{
    margin: 0;
    padding: 0;
}
.text{
     font-size: 14px;
     line-height: 24px;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 130px;  
}

.content-list{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.content-item{
    display: inline-block;
    width: 420px;
}
.content-item:not(:nth-child(2n)){
    margin-right: 60px;
}
.load-more{
    margin: 0;
    padding: 18px 36px;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #626262;
    cursor: pointer;
    display: block;  
    
}
.section{
    padding-bottom: 70px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}