html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    line-height: 24px;
    font-weight: 400;
}
.container{
    width: 900px;
    margin: 0 auto
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 10px;
    margin-top: 5px;
}
.tittle{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px ;
}
.main-menu a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    
    
}
.main-menu{
   
    margin-top: 75px;
    padding: 0px;
    margin-bottom: 0px;
}

.main-menu li {
    display: inline-block;
}
.main-menu li:first-child{
    color: #03a9f4;
    margin-left: 165px;
    margin-right: 110px;
}
.main-menu li:last-child{
    margin-right: 165px;
    margin-left: 90px;
}
.main-menu li:nth-child(2){
    margin-right: 100px;
}

.main-menu a:hover,
.main-menu a:focus {
   color: #03a9f4; 
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
    margin-top: 120px;
}
section{
    margin: 0px;
    padding: 0px;
}

.text{
    margin-top: 34px;
    
}
.content-list{
    list-style: none;
    font-size: 0;
    padding: 0px;
}
.content-item{
    display: inline-block;
    width: 420px;
}
.content-item:not(:nth-child(2n)){
    margin-right: 60px;
}
.text{
    font-size: 14px;   
}
.load-more{
    margin-top: 52px;
    margin-left: 360px;
    margin-bottom: 70px;
    padding: 18px 36px;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #626262;
    cursor: pointer;
    display: block;  
}
.botton{
    margin-bottom: 56px;
    margin-top: 56px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}