/* Page footer */
.footer {
    border-top: 1px #e5e5e5 solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 62px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .copyright {
    color: #333333;
    font-family: var(--font-montserrat);
    font-size: 14px;
  }
  
  .copyright__link {
    color: var(--pink-color);
    text-decoration: none;
  }
  
  .footer__form {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  
  .footer__form-email {
    border: 1px #e5e5e5 solid;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 40px;
    color: #cccccc;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
  }
  
  .footer__form-submit {
    margin: 0;
    padding: 0;
    border: none;
    width: 150px;
    height: 40px;
    background-color: var(--aqua-color);
    color: #fff;
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
  }
  