html{
    box-sizing:border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow:hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.products{
    padding-bottom: 106px;
}
header{
    padding-top: 38px;
    padding-bottom: 100px;
}
.logo{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.logo{
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.60px ;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
}
.logo:hover{
    color: #1abc9c;
}
.logo::first-letter{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1abc9c;
}
.site-navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 490px;
    float: right;
    
    }
    .site-navigation li{
        float: left;
    }
    .site-navigation li:not(:last-child){
        margin-right: 36px;
    }
.site-navigation a{
    color: #0f0101;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    font-size: 14px;
    letter-spacing: -0.28px;
    display: block;
    
}
.site-navigation a:hover{
    color: #1abc9c;
}
.product-title{
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
    letter-spacing: -0.96px;
    margin-bottom: 94px;
}
.product-title::after{
    display: block;
    content: '';
    height: 8px;
    width: 160px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}
.product-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-list-item{
    width: 254px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.product-list-item:nth-child(4n){
    margin-right: 0;
}
.product-list-item:nth-child(n+4){
    margin-bottom: 0;
}
.product-list-item{
    float: left;
}
.product-list-item p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: -0.360px;
    float: left;  
}
.product-list-item:hover .card-bottom p{
    background-color: #1abc9c;
}
.product-list-item:hover .card-bottom p:last-child{
    background-color: #7fd9c7;
}
p.text{
    display: block;
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    text-transform: uppercase;
}
p.price{
    display: block;
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    color: #ffffff;
    margin: 0;
    text-align: center;
    text-transform: uppercase; 
}
.news{
padding-bottom: 46px;
}
.news-title{
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
    letter-spacing: -0.96px;
    text-align: center;
    margin-bottom: 82px;
}
.news-title::after{
    display: block;
    content: '';
    height: 8px;
    width: 160px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}
.news-list{
    list-style: none;
    margin: 0;
    padding: 0;   
}
.news-list-item{
    width: 346px;
    margin-right: 30px;    
}
.news-list-item:nth-child(3n){
    margin: 0;
}
.news-list-item{
    float: left;
}
.news-list-image{
    margin-bottom: 10px;
}
.article-title{
    margin: 0;
font-size: 18px;
line-height: 26px;
font-weight: 600;
letter-spacing: -0.36px;
margin-bottom: 16px;
}
.article-text{
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    font-weight: 400;
    margin-bottom: 14px;
}
.article-title::after{
    display: block;
    content: '';
    height: 4px;
    width: 132px;
    background-color: #1abc9c;
    margin-top: 10px;
}
.read-more{
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
    background-color: #4ec6ab;
    cursor: pointer;
    display: block;  
    width: 160px;
    height: 50px;  
    text-decoration: none;
    list-style: none;
}
.read-more:hover{
    background-color: #7fd9c7;
}
